
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}


.ped {
    color: #1a0303;
    background-color: #2ca52a;
    width: 300px;
    height: 200px;
    text-align: center;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}


.ped:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}
